.Footer {
  width: 100%;
  background-color: rgb(173, 173, 173);
  height: 70px;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  font-size: auto;
  color: black;
  font-size: 15px;
}

.spanstyle {
  color: coral;
  width: 300px;
  display: inline-block;
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.flex_item {
  margin-top: auto;
}
