@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@keyframes fadeInDown{
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}
   

.clubs_list{
    background-color: #1f65bb3f;
    height: 120%;
    width: 100%;   
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-duration: all 2s;
    margin: 0;
    padding: 0;
}

.clubs_division{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

#division{
    justify-content: center;
    text-align: center;
    margin-top: 16px;
    margin: 0 auto;
    font-family: 'twayair';
    font-size: 20px;
    border-radius: 4px;
}

#club{
    margin-top: 10px;
    list-style: none;
    font-size: 18px;
}

#club a {
    text-decoration: none;
    color: #000;
}

@keyframes zoomIn {
    from {
      opacity: 0.4;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }

#club a:hover {
    text-decoration: none;
    color: rgb(54, 52, 211);
    animation-duration: 2s;
    animation-name: zoomIn;
    
}

  