.btn.btn-primary{
  background-color: #A99371;
  border: #A99371; 
}

.btn.btn-primary:hover{
  background-color: #FFEF96; 
}

.btn.btn-primary:active{
  background-color: #FFEF96; 
}

.btn.btn-secondary{
  background-color: #ada79d;
  border : #ada79d;
}

.btn.btn-secondary:hover{
  background-color: #FFEF96; 
  color : black;
}

.btn.btn-secondary:active{
  background-color: #FFEF96; 
  color : black;
}